* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5em;
}

body {
  max-width: 800px;
  width: 95%;
  margin: auto;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 1.6em;
}

h1, h2, h3, h4, strong {
  font-family: 'Work Sans', sans-serif;
}

strong {
  font-size: 1.1em;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
}

img {
  width: 100%;
}

header {
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin-left: -1em;
  width: 100%;
}

hr {
  clear: both;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

input {
  width: 100%;
  padding: 1em;
  border: 1px solid #d4d4d4;
  border-radius: .1em;
}

input[type="submit"] {
  background-color: #f5f5f5;
  border: none;
  font-size: 1.5em;
}

input[type="submit"]:hover {
  background-color: #d4d4d4;
  border: none;
  font-size: 1.5em;
}

form {
  margin-bottom: 2em;
}

footer {
  clear: both;
  text-align: center;
  padding: 1em;
  background-color: #f5f5f5;
  margin: 2em 0;
}

footer p {
  clear: both;
}

.footer-list {
  float: left;
  width: 33%;
  margin-bottom: 1em;
}

.site-logo {
  padding: .2em;
  float: left;
  margin-left: .8em;
  max-width: 30%;
}

.user-account {
  padding: 1em;
  float: right;
  margin-left: .8em;
  max-width: 30%;
}

.restaurant-card {
  float: left;
  width: 33%;
  padding: 1em;
}

.restaurant-summary {
  width: 66%;
  float: left;
}

.reservation-form {
  clear: both;
}

.restaurant-details {
  background-color: #f5f5f5;
  float: right;
  width: 33%;
  padding: 1em;
  margin-bottom: 1em;
}

.button {
  background-color: #f5f5f5;
  border-radius: .1em;
}

div#error_explanation h3 {
  color: red;
}

.button-logged-out {
  background-color: #f5f5f5;
  border: none;
  font-size: 1em;
  text-align: center;
  width: 100%;
  padding: 1em;
  border-radius: .1em;
}

.button-logged-out p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3em;
}
