<!DOCTYPE html>
<html>
  <head>
    <title>SeatYourself</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="site-logo">
        <h1>SeatYourself</h1>
      </div>
      <div class="user-account">
        <p>Logged in as:  <strong>John Doe</strong></p>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
